@import url("styles/hearder.css");

:root{
    --cor-de-fundo: #7fbcce;
    --cor-de-texto: #991e61;
    --cor-preta: #000000;
    --cor-branca: #FFFFFF;
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: var(--cor-branca);
}