.cabeçalho__menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item{
    padding: 0.5em;
    background-color: var(--cor-de-fundo);
}

.lista-menu__link{
    background-color: var(--cor-de-texto);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}